<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>documento html de la home</title>
    <link rel="stylesheet" href="/CSS/Styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />

</head>
<body>

    <header>
         <div>
            <img src="/images/logo-mercado-liebre.svg" width="300px">  
         </div>
        
         <div>
            <form action="">
               <input type= "text" placeholder= "Buscar productos, marcas"></input>
                <br>
                <button><i class="fas fa-search"></i></button>
            </form>
         
            <p class="compra-en-cuotas"> <i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p>
         </div>

         <ul type=none class="lista">
             <li> <a href="#">Oferta</a> </li>
             <li> <a href="#">Tiendas oficiales</a></li>
             <li> <a href="#">Vender</a></li>
             <li> <a href="#">Ayuda</a></li>
         </ul>

         <ul type=none class="iconos-negros">
            <li> <a href="#">Crea tu cuenta <i class="far fa-id-card"></i> </a></li>
            <li> <a href="#">Ingresá <i class="fas fa-sign-in-alt"></i> </a></li>
            <li> <a href="#">Mis compras <i class="fas fa-shopping-basket"></i>  </a></li>
        </ul>
        
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
            
        

    </header>

    <main>

        <section>
        <img src="/images/img-home-banner.jpg" width="400px">
        </section>

        <section>
            <h1>Basado en tu última vista</h1>
            <article>
              <img src="/images/img-cafetera-moulinex.jpg" width="100%">
              <p class="precios">$6.770 </p>
              <p class="descuentos-descripciones">40% OFF</p>
              <h3 class="descuentos-descripciones">Cafetera Moulinex</h3>
            </article>

            <article>
                <img src="/images/img-macbook-pro-2019.jpg" width="100%">
                <p class="precios">$230.000</p>
                <p class="descuentos-descripciones">20% off</p>
                <h3 class="descuentos-descripciones">MacBook Pro 2019</h3>
            </article>

            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" width="100%">
                <p class="precios">$70.500</p>
                <p class="descuentos-descripciones">10% off</p>
                <h3 class="descuentos-descripciones">Samsung Galaxy S10</h3>
            </article>
           
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" width="100%">
                <p class="precios">$23.200</p>
                <p class="descuentos-descripciones">5% off</p>
                <h3 class="descuentos-descripciones">SmartTv Samsung 43"</h3>
            </article>

        </section>
       

        <section>
            <h1>Sección ofertas</h1>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" width="100%">
                <p class="precios">$6.770 </p>
                <p class="descuentos-descripciones">40% OFF</p>
                <h3 class="descuentos-descripciones">Cafetera Moulinex</h3>
              </article>
  
              <article>
                  <img src="/images/img-macbook-pro-2019.jpg" width="100%">
                  <p class="precios">$230.000</p>
                  <p class="descuentos-descripciones">20% off</p>
                  <h3 class="descuentos-descripciones">MacBook Pro 2019</h3>
              </article>
  
              <article>
                  <img src="/images/img-samsung-galaxy-s10.jpg" width="100%">
                  <p class="precios">$70.500</p>
                  <p class="descuentos-descripciones">10% off</p>
                  <h3 class="descuentos-descripciones">Samsung Galaxy S10</h3>
              </article>
             
              <article>
                  <img src="/images/img-tv-samsung-smart.jpg" width="100%">
                  <p class="precios">$23.200</p>
                  <p class="descuentos-descripciones">5% off</p>
                  <h3 class="descuentos-descripciones">SmartTv Samsung 43"</h3>
              </article>
  
        </section>
        
    </main>

    <footer>
        <section>
        <i class="fas fa-credit-card"></i>
        <p> <strong>Pagá con tarjeta o en efectivo</strong>
        <br>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
puntos de pago. ¡Y siempre es seguro!</p>
        </section>   

        <section>
        <i class="fas fa-gift"></i>
        <p> <strong>Envío gratis desde $ 2.500</strong> 
        <br>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
productos. Es un beneficio de Mercado Puntos.</p>
        </section>

        <section>
        <i class="fas fa-user-shield"></i>
        <p> <strong>Seguridad, de principio a fin</strong> 
        <br>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
        </section>

        <section class="copyright">
          <strong >Copyright © 1999-2020 MercadoLiebre S.R.L.</strong>  
        </section>

    </footer>

   
</body>
</html>