<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>documento html de la home</title>
    <link rel="stylesheet" href="/CSS/Styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />

</head>
<body>

    <header>
        <section class="contenedor-logo-busqueda-cuotas">
            <div class="logo">
                 <img src="/images/logo-mercado-liebre.svg">  
            </div>
        
            <div>
                 <form>
                   <input type= "text" placeholder= "Buscar productos, marcas" class="busqueda"></input>
                   <button><i class="fas fa-search"></i></button>
                 </form>
            </div>

            <div>
                 <p class="compra-en-cuotas"> <i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
         </section>

         <section class="caja-site-login-navbar">
            <ul type=none class="lista">
                 <li> <a href="#">Oferta</a> </li>
                 <li> <a href="#">Tiendas oficiales</a></li>
                 <li> <a href="#">Vender</a></li>
                 <li> <a href="#">Ayuda</a></li>
           </ul>

           <ul type=none class="iconos-negros">
                 <li> <a href="#">Crea tu cuenta <i class="far fa-id-card"></i> </a></li>
                 <li> <a href="#">Ingresá <i class="fas fa-sign-in-alt"></i> </a></li>
                 <li> <a href="#">Mis compras <i class="fas fa-shopping-basket"></i>  </a></li>
           </ul>
         </section>

            <div class="burger-contenedor">
            <i class="fas fa-bars"></i>
            </div>
          
         
         <img src="/images/img-home-banner.jpg" width="100%" class="banner">

    </header>

    <main>
          <h1>Basado en tu última vista</h1>

          <section class="contenedor-ultima-visita">
              
              <article class="caja-producto">
                <img class="img" src="/images/img-cafetera-moulinex.jpg">
                <div class="caja-info-producto">
                     <div class="circulo-contenedor-camion">
                            <i class="fas fa-truck"></i>
                     </div>
                     <div class="precio-descuento">
                           <p class="precios">$6.770 </p>
                           <p class="descuento">40% OFF</p>
                     </div>
                     <h3 class="descripcion">Cafetera Moulinex</h3>
                </div>
               </article>

               <article class="caja-producto">
                 <img class="img" src="/images/img-macbook-pro-2019.jpg">
                 <div class="caja-info-producto">
                     <i class="fas fa-truck"></i>
                     <div class="precio-descuento">
                         <p class="precios">$230.000</p>
                         <p class="descuento">20% off</p>
                     </div>
                     <h3 class="descripcion">MacBook Pro 2019</h3>
                 </div>
               </article>

               <article class="caja-producto">
                <img class="img" src="/images/img-samsung-galaxy-s10.jpg">
                <div class="caja-info-producto">
                     <i class="fas fa-truck"></i>
                     <div class="precio-descuento">
                         <p class="precios">$70.500</p>
                         <p class="descuento"> 10% off </p>
                     </div>
                     <h3 class="descripcion">Samsung Galaxy S10</h3>
                </div>
               </article>
           
               <article class="caja-producto">
                <img class="img" src="/images/img-tv-samsung-smart.jpg">
                <div class="caja-info-producto">
                     <i class="fas fa-truck"></i>
                     <div class="precio-descuento">
                         <p class="precios">$23.200</p>
                         <p class="descuento">5% off</p>
                     </div>
                     <h3 class="descripcion">SmartTv Samsung 43"</h3>
                </div>
               </article>

          </section>
       

          <h1> Sección ofertas</h1>

          <section class="contenedor-ofertas">
            
            <article class="caja-producto">
                <img class="img" src="/images/img-cafetera-moulinex.jpg">
                <div class="caja-info-producto">
                     <i class="fas fa-truck"></i>
                     <div class="precio-descuento">
                        <p class="precios">$6.770 </p>
                        <p class="descuento">40% OFF</p>
                     </div>
                     <h3 class="descripcion">Cafetera Moulinex</h3>
                </div>
            </article>
  
            <article class="caja-producto">
                <img class="img" src="/images/img-macbook-pro-2019.jpg">
                <div class="caja-info-producto">
                      <i class="fas fa-truck"></i>
                      <div class="precio-descuento">
                          <p class="precios">$230.000</p>
                         <p class="descuento">20% off</p>
                      </div>
                      <h3 class="descripcion">MacBook Pro 2019</h3>
                </div>
            </article>
  
            <article class="caja-producto">
                <img class="img" src="/images/img-samsung-galaxy-s10.jpg">
                <div class="caja-info-producto">
                     <i class="fas fa-truck"></i>
                     <div class="precio-descuento">
                         <p class="precios">$70.500</p>
                          <p class="descuento">10% off</p>
                     </div>
                     <h3 class="descripcion">Samsung Galaxy S10</h3>
                </div>
            </article>
             
            <article class="caja-producto">
                <img class="img" src="/images/img-tv-samsung-smart.jpg">
                <div class="caja-info-producto">
                     <i class="fas fa-truck"></i>
                     <div class="precio-descuento">
                        <p class="precios">$23.200</p>
                        <p class="descuento">5% off</p>
                     </div>
                     <h3 class="descripcion">SmartTv Samsung 43"</h3>
                </div>
            </article>
  
          </section>
        
    </main>




    <footer>
        <section>
        <i class="fas fa-credit-card"></i>
        <p> <strong>Pagá con tarjeta o en efectivo</strong>
        <br>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
puntos de pago. ¡Y siempre es seguro!</p>
        </section>   

        <section>
        <i class="fas fa-gift"></i>
        <p> <strong>Envío gratis desde $ 2.500</strong> 
        <br>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
productos. Es un beneficio de Mercado Puntos.</p>
        </section>

        <section>
        <i class="fas fa-user-shield"></i>
        <p> <strong>Seguridad, de principio a fin</strong> 
        <br>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
        </section>

        <section class="copyright">
          <strong >Copyright © 1999-2020 MercadoLiebre S.R.L.</strong>  
        </section>

    </footer>

   
</body>
</html>