<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/Styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <title>login</title>
</head>


<body>
    <!-- ----------------------HEADER-------------------------- -->
    <header>
        <section class="contenedor-logo-busqueda-cuotas">
            <div class="logo">
                 <a href="/"><img src="/images/logo-mercado-liebre.svg"></a> 
            </div>
    </header>

    <!-- ----------------------MAIN-------------------------- -->
   <main class="form-container">
    
    <form action="" class="estilos-form">
        <h1>¡Ingresá!</h1> 
       <div class="cajas-dentro-del-form">
           <input type="text" name="userName" placeholder="Nombre de usuario" >
       </div>
           
       <div class="cajas-dentro-del-form">
           <input type="password" name="password" placeholder="Contraseña" >
       </div>

       <div class="cajas-dentro-del-form">
         <button type="submit" class="button-form">Enviar</button>
       </div>
    </form>
</main>

    <!-- ----------------------FOOTER-------------------------- -->
    <footer> 
       <section class="copyright">
            <strong >Copyright © 1999-2020 MercadoLiebre S.R.L.</strong>  
       </section>
    </footer>

</body>

</html>